PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=postgres
DB_USER=postgres
DB_PASSWORD=mysecretpassword

AUTH_JWT_KEY=myincrediblysecureandsupersecretlongkey
CORS_ORIGINS=http://localhost:4200,http://ftot.felixher.com:420,https://ftot.felixherder.com